.hero {
  font-family: 'Inter', sans-serif; 
  text-align: center;
  padding: 4rem 1rem;
}

.hero h1 {
  font-size: 45px;
  color: #2a3f48;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 20px;
  color: rgb(99, 115, 129);
  max-width: 600px;
  margin: 0 auto 2rem;
  line-height: 1.5;
}

.hero__btn {
  background-color: var(--color-blue-aqua);
  color: #fff;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  transition: background-color 0.2s, opacity 0.2s;
}

.hero__btn:hover {
  background-color: #56bed3;
  opacity: 0.9;
}

.hero__title {
  font-size: 45px;
  color: #2a3f48;
  margin-bottom: 1rem;
}

.hero__subtitle {
  font-size: 20px;
  color: rgb(99, 115, 129);
  max-width: 600px;
  margin: 0 auto 2rem;
  line-height: 1.5;
}
