.feature-section {
  padding: 4rem 1rem;
  background: #fff;
}

.feature-container {
  font-family: 'Inter', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: start;
}

.feature-text {
  max-width: 460px;
}

.feature-text h2 {
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  color: #212529;
  margin: 0 2rem;
}
.feature-text p {
  color: rgb(99, 115, 129);
  line-height: 1.6;
  font-size: 20px;
  margin: 0;
  line-height: 30px;            
  margin-left: 2rem;
  margin-right: 2rem;
}

.feature-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.feature-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.feature-item {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.feature-icon-box {
  width: 50px;
  height: 50px;
  background-color: var(--color-blue-aqua);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-right: 5rem;
}

.feature-icon-box:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.feature-svg {
  color: #fff;            
}

.feature-svg path {
  stroke: currentColor;
}

.feature-item p {
  font-size: 0.9rem;
  color: #4A4A4A;
  line-height: 1.5;
}

.btn-start {
  width: 100%;
  max-width: 600px;        
  padding: 1.25rem 0;       
  background-color: var(--color-blue-aqua);
  color: #fff;
  font-size: 1rem;      
  font-weight: 600;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.5s ease, transform 0.3s ease;
  margin-top: 2rem;
}

.btn-start:hover,
.btn-start:active {
  opacity: 0;               
  transform: scale(1.05);   
}

